:root {
  --transparent: #ffffff00;
  --text-color: #ffffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Viga', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  height: 100vh;
  height: 100dvh;
  background-color: #0e0e0e;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;

  background-color: lightcoral;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  margin: 5vh 0;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30vh;
  gap: 1rem;
}

.card {
  width: 60vh;
  height: auto;
  z-index: 1;

  pointer-events: all;
  position: relative;

  transition: all 0.3s ease-in-out;
}

.card-border {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(240, 128, 128, 1) 0%,
    rgba(14, 14, 14, 1) 50%
  );
  border-radius: 3vh;

  transition: all 0.3s ease-in-out;
}

.card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  padding: 0.3vh;
  border-radius: 3vh;
  overflow: clip;
  overflow-clip-margin: content-box;

  transition: all 0.3s ease-in-out;
}

.card-background {
  width: 100%;
  height: 100%;
  background-image: url('./images/placeholder.jpg');
  background-size: cover;
  background-position: center;

  transition: all 0.3s ease-in-out;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 1;

  width: 100%;
  padding: 2rem;

  font-size: 2rem;

  transition: all 0.3s ease-in-out;
}

.card-content {
  position: absolute;
  top: 150%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0;

  width: 100%;
  padding: 2rem;

  transition: all 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;

  .card-background {
    filter: blur(8px) saturate(50%) brightness(50%);
  }

  .card-title {
    top: -50%;
    opacity: 0;
  }

  .card-content {
    top: 50%;
    opacity: 1;
  }
}
