:root {
  --text: hsl(0, 0%, 95%);

  --bg-dark: hsl(0, 0%, 0%);
  --bg: hsl(0, 0%, 5%);
  --bg-light: hsl(0, 0%, 10%);

  --accent-light: hsl(200, 100%, 65%);
  --accent: hsl(200, 100%, 50%);
  --accent-dark: hsl(200, 100%, 35%);

  --text-shadow: 0 0 2rem var(--bg-dark);
  --title-background: hsl(0, 0%, 5%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Viga', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  height: 100vh;
  height: 100dvh;
  background-color: var(--bg);
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem min(5rem, 10vw);

  background-color: var(--bg-light);
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.title {
  margin-left: 1rem;
}

.language {
  transition: all 0.3s ease-in-out;
}

.language:hover {
  color: var(--accent);
  cursor: pointer;
}

a {
  color: var(--text);
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--accent);
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  margin: min(3rem, 10vw) 0;
  padding: 0 min(5rem, 10vw);
}

.card {
  width: 64vh;
  height: 36vh;
  z-index: 1;

  pointer-events: all;
  position: relative;

  transition: all 0.3s ease-in-out;
}

.card-border {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 3vh;

  box-shadow: 0 0 1rem var(--bg-light);

  transition: all 0.3s ease-in-out;
}

.card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  padding: 0.3vh;
  border-radius: 3vh;
  overflow: hidden;

  transition: all 0.3s ease-in-out;
}

.card-background-container {
  width: 100%;
  height: 100%;
  border-radius: 2.7vh;
  overflow: hidden;
}

.card-background {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  background-size: cover;
  background-position: center;

  transition: all 0.3s ease-in-out;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 1;
  text-shadow: var(--text-shadow);
  font-weight: bold;
  white-space: nowrap;
  background-color: var(--title-background);

  padding: 1rem;

  font-size: 2rem;

  transition: all 0.3s ease-in-out;

  backdrop-filter: blur(4px) saturate(75%) brightness(75%);
}

.card-content {
  position: absolute;
  top: 150%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0;

  width: 100%;
  padding: 2rem;

  transition: all 0.3s ease-in-out;
}

.highlight {
  color: var(--accent);
}

.hue {
  background: linear-gradient(
    to right,
    hsl(0deg 100% 50%),
    hsl(40deg 100% 50%),
    hsl(80deg 100% 50%),
    hsl(120deg 100% 50%),
    hsl(160deg 100% 50%),
    hsl(200deg 100% 50%),
    hsl(240deg 100% 50%),
    hsl(280deg 100% 50%),
    hsl(320deg 100% 50%),
    hsl(0deg 100% 50%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: hue-animation 8s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes hue-animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.card:hover {
  cursor: pointer;

  .card-background {
    filter: blur(8px) saturate(50%) brightness(50%);
    scale: 1.2;
  }

  .card-title {
    opacity: 0;
  }

  .card-content {
    top: 50%;
    opacity: 1;
  }

  .highlight {
    color: var(--accent);
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding: 1rem min(5rem, 10vw);

  background-color: var(--bg-dark);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}

.footer-bottom {
  padding: 1rem 0;
}

@media only screen and (max-width: 1000px) {
  .card-title {
    white-space: unset;
  }
}
